<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10984540234-9137hvcf5kajhs5tipa8gigao7nu9ban.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10984540234-9137hvcf5kajhs5tipa8gigao7nu9ban</string>
	<key>API_KEY</key>
	<string>AIzaSyCs6DwEGPDbP15EQIFDrw4qca1bcliZoYI</string>
	<key>GCM_SENDER_ID</key>
	<string>10984540234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tester2.makeup</string>
	<key>PROJECT_ID</key>
	<string>makeup2-1fb9e</string>
	<key>STORAGE_BUCKET</key>
	<string>makeup2-1fb9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10984540234:ios:15255a0c7dd125f316beb3</string>
	<key>DATABASE_URL</key>
	<string>https://makeup2-1fb9e.firebaseio.com</string>
</dict>
</plist>